/* Type your code here */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'AvenirNext', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.orangeBackround {
	background-color: rgb(250, 105, 52);
	color: white;
}

a {
	text-decoration: none;
	color: rgb(112, 182, 209);
}


.main {
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}

.main img {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0.8;
}

.main .container .logo-img {
	position: absolute;
	top: 3%;
	right: 5%;
	text-align: center;


}

.main .container .main-text {
	position: absolute;
	top: 10%;

}

.main .container .main-text div:first-child {
	text-transform: uppercase;
	font-size: xx-large;
	font-weight: 900;
	text-shadow: 2px 2px lightgray;
	color: black;

}

.main .container .main-text div:last-child {
	text-transform: capitalize;
	color: darkgray;
	font-weight: bold;

}

table {
	position: absolute;
	top: 25%;
	background-color: white;
	border-collapse: collapse;
	width: 700px;
}

tr {
	border: 1px solid lightgray;
}

tr td,
tr th {
	text-align: left;
	padding: 10px;
}

tr th:first-child,
tr td:first-child {
	width: 200px;
}

tr th:nth-child(7),
tr td:nth-child(7) {
	text-align: right;
}

tr th:nth-child(2),
tr td:nth-child(2) {
	color: slategray;
}



/* change the font family and spacing as per your project font */
.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;

}

.footer img {
	margin: 4px;
	height: 15px;
	width: 15px;
}